<h1>Edit Picture #<%= @picture.id %></h1>

<%= form_tag "/pictures/#{@picture.id}", "method" => "put" do %>
  <%= label_tag "url", "URL:" %><%= text_field_tag "url", @picture.url %>
  <%= label_tag "note", "Note:" %> <%= text_field_tag "note", @picture.note %>
  <%= submit_tag "Save Picture"%>
<% end %>